.auction {
    position: relative;
    padding: 360px 0 60px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./auction.png');
    &__info {
        position: relative;
    }
    &__author {
        width:fit-content;
        border-radius: 20px;
        padding: 10px 20px;
        background-color: var(--background--secondary);
        display: flex;
        align-items: center;
        gap: 12px;
        font-family: var(--second-font);
        margin-bottom: 30px;
    }

    &__title {
        font-family: var(--second-font);
        font-weight: 600;
        font-size: 51px;
        line-height: 110%;
        text-transform: capitalize;
        margin-bottom: 30px;
    }

    &__link {
        width: 198px;
        padding: 19px 0;
        background-color: #fff;
        color: var(--background--secondary);
        text-align: center;
        p::before {
            background-image: url('./link.svg');
        }
    }

    .auction-timer {
        position: absolute;
        right: 0;
        bottom: 0;
        &__items{
            margin-bottom: 0;
        }
        &__btn {
            display: none;
        }
    }
}

@media (max-width: 820px) {
    .auction {
        padding: 120px 0 40px;
        .auction-timer {
            position: static;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 520px) {
    .auction {
        &__link {
            width: 100%;
        }
    }
}