.tabs-component {
    &__buttons {
        width: 100%;
        grid-template-columns: auto;
        .tabs-component__btn {
            font-family: var(--second-font);
            font-weight: 600;
            font-size: 22px;
            line-height: 140%;
            text-transform: capitalize;
            text-align: center;
            color: var(--gray-color);
            width: 100%;
            border-bottom: 2px solid transparent;
            padding: 12px 0;
            &.active {
                color: var(--text-color);
                border-bottom: 1px solid var(--gray-color);
            }
        }
    }
}