.marketplace-page__header {
    padding: 80px 0;
    &-title {
        margin-bottom: 10px;
    }
    &-text {
        margin-bottom: 30px;
    }

    .search__form {
        padding: 20px;
        width: 100%;
        position: relative;
        border: 1px solid var(--background--secondary);
        border-radius: 20px;
        &-input {
            border: none;
            background-color: transparent;
            color: var(--text-color);
            width: 100%;
            &::placeholder {
                color: var(--gray-color);
            }
        }

        &-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
        }
    }
}

.marketplace-page__inner {
    .marketplace-page__info {
        background-color: var(--background--secondary);
        &-item {
            padding-top: 60px;
            padding-bottom: 80px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            .nft-item {
                width: 100%;
                background-color: var(--background-color);
            }
        }
        
    }
}

@media (max-width: 900px) {
    .marketplace-page__inner {
        .marketplace-page__info {
            &-item {
                grid-template-columns: repeat(2, 1fr);
            }
            
        }
    }
}

@media (max-width: 550px) {
    .marketplace-page__inner {
        .marketplace-page__info {
            &-item {
                max-width: 90%;
                margin: 0 auto;
                grid-template-columns: repeat(1, 1fr);
                .nft-item {
                    max-width: 330px;
                    margin: 0 auto;
                }
            }
            
        }
    }
}