.wallet-page {
    &__inner {
        display: flex;
        gap: 60px;
        align-items: center;

        .wallet-page__info {
            width: 460px;
            .wallet-page__title {
                margin-bottom: 20px;
            }
            .wallet-page__text {
                margin-bottom: 40px;
            }
            .wallet-page__link {
                width: 320px;
                background: var(--background--secondary);
                display: flex;
                gap: 20px;
                align-items: center;
                margin-bottom: 20px;
                border: 1px solid var(--purple-color);
                border-radius: 20px;
                padding: 16px 20px 20px 40px;
                &:last-child {
                    margin-bottom: 40px;
                }
            }
        }
    }
}

@media (max-width: 850px) {
    .wallet-page {
        &__inner {
            gap: 40px;
            .wallet-page__info{
                max-width: 325px;
              
            }
        }
    }
}

@media (max-width: 600px) {
    .wallet-page {
        &__inner {
            flex-direction: column;
            .wallet-page__media {
                max-height: 250px;
                &-img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .wallet-page__info {
                max-width: 100%;
                .wallet-page__link {
                    width: 100%;
                }
            }
        }
    }
}
