.rankings-item {
    width: 100%;
    display: grid;
    padding: 12px 20px;
    background: var(--background--secondary);
    border-radius: 20px;
    margin-bottom: 20px;
    grid-template-columns: 5% 44% 17% 17% 17%;
    align-items: center;
    &__number {
        width: 30px;
        height: 30px;
        border-radius: 20px;
        background-color: var(--background-color);
        color: var(--gray-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__artist {
        display: flex;
        align-items: center;
        gap: 20px;
        padding-right: 5px;
        .rankings-item__img {
            width: 60px;
            height: 60px;
        }

        .rankings-item__name {
            font-family: var(--second-font);
            font-weight: 600;
            font-size: 22px;
            line-height: 140%;
            text-transform: capitalize;
        }
    }

    &__change {
        &.up {
            color: #00ac4f;
        }

        &.down {
            color: rgb(231, 71, 71);
        }
    }
}

@media (max-width: 900px) {
    .rankings-item {
        padding: 15px 20px;
        grid-template-columns: 5% 61% 17% 17%;
        &__number {
            width: 24px;
            height: 24px;
            background-color: transparent;
        }
        &__artist {
            .rankings-item__img {
                width: 24px;
                height: 24px;
            }
        }
    }
}

@media (max-width: 600px) {
    .rankings-item {
        padding: 13px 10px;
        grid-template-columns: 5% 75% 20%;
    }
}

@media (max-width: 600px) {
    .rankings-item {
        grid-template-columns: 5% 70% 25%;
    }
}