:root {
    --main-font: "Space Mono", sans-serif;
    --second-font: "Work Sans", sans-serif;
    --background-color: #2b2b2b;
	--background---secondary: #3b3b3b;
    --purple-color: #a259ff;
	--text-color: #fff;
	--blue-accent: #377df7;
	--red-accent: #ff7262;
}