.nft-item {
    width: 330px;
    border-radius: 20px;
    background-color: var(--background--secondary);
    &__about {
        padding: 20px 30px;
        .nft-item__title {
            margin-bottom: 5px;
        }

        .nft-item__author {
            display: flex;
            gap: 12px;
            align-items: center;
            margin-bottom: 25px;
        }

        .nft-item__prices {
            display: flex;
            justify-content: space-between;
            &-item {
                .nft-item__price-text {
                    font-size: 12px;
                    line-height: 110%;
                    color: var(--gray-color);
                    margin-bottom: 8px;

                }

                .nft-item__price-num {

                }
            }
        }
    }
}