.nft-page {
    .nft-page__img {
        object-fit: cover;
        width: 100%;
        height: 50vh;
    }
    .nft-page__inner {
        display: flex;
    }
    .nft-page__info {
        max-width: 605px;
    }
    .nft-page__info-title {
    }
    .page__title {
    }
    .nft-page__info-date {
    }
    .nft-page__author {
    }
    .descr__title {
    }
    .nft-page__author-link {
    }
    .nft-page__author-img {
    }
    .nft-page__descr {
    }
    .nft-page__descr-text {
    }
    .nft-page__details {
    }
    .nft-page__details-link {
    }
    .nft-page__tags {
    }
    .nft-page__tags-inner {
    }
    .nft-page__tag {
    }
}

.author-more {
}
.author-more__title {
}
.section__title {
}
.author-more__link {
}
.author-more__inner {
}