.promo {
    padding: 80px 0;
    .promo__inner {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        .promo__info {
            width: 510px;
            font-family: var(--second-font);
            max-width: 50%;
            &-title {
                font-family: var(--second-family);
                font-weight: 600;
                font-size: 67px;
                line-height: 110%;
                text-transform: capitalize;
                margin-bottom: 20px;
            }
            &-descr {
                font-family: var(--second-family);
                font-size: 22px;
                line-height: 160%;
                text-transform: capitalize;
                margin-bottom: 30px;
            }
            &-btn {
                padding: 19px 50px;  
                width: 224px;   
                margin-bottom: 30px;           
                p::before {
                    padding-left: 32px;
                    left: 0;
                    background-image: url('./images/rocket.svg');
                }
            }
           
            .promo-numbers {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 30px;
                .promo-numbers__item {
                    &-main {
                        font-family: var(--main-font);
                        font-weight: 700;
                        font-size: 28px;
                        line-height: 140%;
                        text-transform: capitalize;
                    }
                    &-descr {
                        font-family: var(--second-family);
                        font-size: 23px;
                        line-height: 160%;
                        text-transform: capitalize;
                    }
                }
                
            }
            
        }
       
        .promo__media {
            .promo__media-img {
            }
        }
        
    }
   
}

.collection {
    padding: 80px 0;
    &__title {
        margin-bottom: 10px;
    }
    &__text {
        font-family: var(--second-font);
        font-size: 22px;
        line-height: 160%;
        text-transform: capitalize;
        margin-bottom: 60px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

.creators {
    padding: 80px 0;
    &__title {
        margin-bottom: 10px;
    }

    &__text {
        font-family: var(--second-font);
        font-size: 22px;
        line-height: 160%;
        text-transform: capitalize;
        margin-bottom: 60px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

    }
}

.categories {
    padding: 80px 0;
    &__title {
        margin-bottom: 60px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}

.more {
    padding: 80px 0;
    &__title {
        margin-bottom: 10px;

    }

    &__text {
        margin-bottom: 60px;
        font-family: var(--second-font);
        font-size: 22px;
        line-height: 160%;
        text-transform: capitalize;

    }

    &__link {

    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

.how {
    padding: 80px 0;
    &__title {
        margin-bottom: 10px;
    }
    &__text {
        font-size: 22px;
        line-height: 160%;
        text-transform: capitalize;
        margin-bottom: 48px;
        font-family: var(--second-font);
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        .how__item {
            text-align: center;
            border-radius: 20px;
            padding: 10px 30px 30px 30px;
            background: var(--background--secondary);
            width: 330px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-img {
                margin-bottom: 20px;
            }
            &-title {
                margin-bottom: 10px;
            }
            &-text {
                font-family: var(--second-font);
                font-weight: 400;
            }
        }
        
    }
    
    
}

.digest {
    padding-top: 40px;
    padding-bottom: 80px;
    .digest__inner {
        background: var(--background--secondary);
        border-radius: 20px;
        padding: 60px;
        display: flex;
        justify-content: space-between;
        .digest__img {
        }
        .digest__info {
            width: 425px;
            &-title {
                margin-bottom: 10px;
            }
            &-text {
                font-family: var(--second-font);
                text-transform: capitalize;
                margin-bottom: 40px;
            }
            .digest-form {
                width: 100%;
                position: relative;
                display: flex;
                
                font-family: var(--second-font);
                &__input {
                    padding: 19px 20px;
                    border-radius: 20px;
                    width: 100%;
                    &::placeholder {
                        font-family: var(--second-font);
                        color: var(--background-color);
                    }
                }
                &__btn {
                    border-radius: 20px;
                    padding: 20px 50px;
                }
            }
            
        }
        
    }
    
}

