.promo {
    padding: 80px 0;
    .promo__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        .promo__info {
            font-family: var(--second-font);
            grid-row: 1/2;
            &-title {
                font-family: var(--second-family);
                font-weight: 600;
                font-size: 67px;
                line-height: 110%;
                text-transform: capitalize;
                margin-bottom: 20px;
            }
            &-descr {
                font-family: var(--second-family);
                font-size: 22px;
                line-height: 160%;
                text-transform: capitalize;
                margin-bottom: 30px;
            }
            &-btn {
                padding: 19px 50px;  
                width: 224px;   
                margin-bottom: 30px;           
                p::before {
                    padding-left: 32px;
                    left: 0;
                    background-image: url('./images/rocket.svg');
                }
            }
           
            
            
        }
       
        .nft-item {
            display: block;
            width: 100%;
            &__media {
                &-img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            &__prices {
                display: none;
            }
        }

        .promo-numbers {
            display: flex;
            gap: 30px;
            .promo-numbers__item {
                width: 150px;
                &-main {
                    font-family: var(--main-font);
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 140%;
                    text-transform: capitalize;
                }
                &-descr {
                    font-family: var(--second-family);
                    font-size: 23px;
                    line-height: 160%;
                    text-transform: capitalize;
                }
            }
            
        }
        
    }
   
}

.collection {
    padding: 80px 0;
    &__title {
        margin-bottom: 10px;
    }
    &__text {
        font-family: var(--second-font);
        font-size: 22px;
        line-height: 160%;
        text-transform: capitalize;
        margin-bottom: 60px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

.creators {
    padding: 80px 0;
    &__inner {
        position: relative;
    }
    &__title {
        margin-bottom: 10px;
    }

    &__text {
        
        font-family: var(--second-font);
        font-size: 22px;
        line-height: 160%;
        text-transform: capitalize;
        margin-bottom: 60px;
    }

    &__link {
        width: 247px;
        p::before {
            padding-left: 32px;
            left: 0;
            background-image: url('./images/creators.svg');
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

    }
}

.categories {
    padding: 80px 0;
    &__title {
        margin-bottom: 60px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}

.more {
    &__inner {
        position: relative;
    }
    padding: 80px 0;
    &__title {
        margin-bottom: 10px;

    }

    &__text {
        margin-bottom: 60px;
        font-family: var(--second-font);
        font-size: 22px;
        line-height: 160%;
        text-transform: capitalize;

    }

    &__link {
        width: 187px;
        p::before {
            background-image: url('./images/more.svg');
        }

    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        .nft-item {
            width: 100%;
        }
    }
}

.how {
    padding: 80px 0;
    &__title {
        margin-bottom: 10px;
    }

    &__text {
        margin-bottom: 48px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        .how__item {
            background-color: var(--background--secondary);
            border-radius: 20px;
            padding: 10px 30px 30px 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            &-img {
                width: 250px;
                height: 250px;
                margin-bottom: 20px;
            }
            &-title {
                margin-bottom: 10px;
            }
            &-text {
                font-family: var(--second-font);
            }
        }
    }
}

.digest {
    padding-top: 40px;
    margin-bottom: 80px;
    &__inner {
        padding: 60px;
        border-radius: 20px;
        background-color: var(--background--secondary);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        .digest__img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
        }
        
        .digest__info {
            width: 100%;
            .digest-form {
                &__btn {
                    p::before {
                        background-image: url('./images/mail.svg');
                    }
                }
            }

        }
    }
}

@media (max-width: 1100px) {    
    .creators {
        &__items {
            max-width: 80%;
            margin: 0 auto;
            grid-template-columns: repeat(3, 1fr);
        }
        
    }

    .digest {
        &__inner {
            padding: 40px 30px;
        }
    }
}

@media (max-width: 1000px) {
    .promo {
        .promo__inner {
            .promo__info {
                &-title {
                    font-size: 38px;
                    line-height: 120%;
                }
                &-descr {
                    font-size: 16px;
                    line-height: 140%;
                }
            }
          
    
            .promo-numbers {
                .promo-numbers__item {
                    width: 90px;
                    &-main {
                        font-size: 22px;
                        line-height: 160%;
                    }
                    &-descr {
                        font-size: 16px;
                        line-height: 140%;
                    }
                }
                
            }
            
        }
       
    }

    .how {
        &__items {
            .how__item {
                &-img {
                    width: 160px;
                    height: 160px;
                }
            }
        }
    }
}

@media (max-width: 920px) {
    
    .more {
        &__items {
            grid-template-columns: repeat(2, 1fr);
            .nft-item {
                &:last-child {
                    display: none;
                }
            }
        }
    }
    .creators {
        &__items {
            max-width: 100%;
            grid-template-columns: repeat(2, 1fr);
        }
        &__text{
            max-width: 50%;
        }
        
    }

    .how {
        &__items {
            gap: 20px;
            .how__item {
                padding: 10px 20px 20px 20px;
            }
        }
    }
   

    .digest {
        &__inner {
            .digest__info {
                .digest-form {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    &__btn {
                        position: static;
                    }
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .promo {
        .promo__inner {
            position: relative;
            grid-template-columns: 1fr;
            grid-template-rows: unset;
            .promo__info {
                grid-row: unset;
                &-btn {
                    width: 100%;
                }
            }

            .nft-item {
                grid-row: unset;
            }

            .promo-numbers {
                margin-top: 40px;
                display: grid;
                gap: 10px;
                grid-template-columns: repeat(3, 1fr);
                .promo-numbers__item {
                    width: 100%;
                }
            }
        }
           
            
    }
    

    .collection {
        &__items {
            grid-template-columns: repeat(2, 1fr);
            .collection-item:last-child {
                display: none;
            }
        }
    }

    .categories {
        &__items {
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }
    }

    .more {
        &__items {
            display: flex;
            flex-direction: column;
            .nft-item {
                width: 330px;
                margin: 0 auto;
            }
        }
    }

    .digest {
        max-width: 90%;
        margin: 0 auto;
        &__inner {
            grid-template-columns: repeat(1, 1fr);
            background-color: var(--background--color);
            
        }
    }

    .how {
        &__items {
            display: flex;
            flex-direction: column;
            .how__item {
                display: grid;
                gap: 20px;
                grid-template-columns: 30% 70%;
                text-align: left;
            }
        }
    }
}

@media (max-width: 670px) {
    .creators {
        &__text {
            max-width: 100%;
        }
        &__items {        
            grid-template-columns: repeat(1, 1fr);
        }
        
    }
}

@media (max-width: 530px) {
    .collection {
        &__items {
            grid-template-columns: repeat(1, 1fr);
            .collection-item {
                max-width: 330px;
            }
            .collection-item:nth-child(2) {
                display: none;
            }
        }
    }
   

    .categories {
        &__items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .digest {
        max-width: 100%;
    }

    .how {
        &__items {
            .how__item {
                padding: 20px;
                grid-template-columns: 30% 70%;
            }
        }
    }
}

