.collection-item {
    display: block;
    transition: all 0.3s;
    border: 1px solid transparent;   
    &__media {        
        &-main {
            display: block;
            margin-bottom: 15px;
        }
        .collection-item__preview {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
            margin-bottom: 15px;
            &-item {
                .collection-item__preview-num {
                    background-color: var(--purple-color);
                    width: 100%;
                    padding: 32px 15px;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 160%;
                    text-transform: capitalize;
                    text-align: center;
                    border-radius: 20px;

                }
            }
        }
    }

    &__title {
        margin-bottom: 10px;

    }

    &__author {
        display: flex;
        align-items: center;
        gap: 12px;
        &-img {
            width: 24px;
            height: 24px;
        }

        &-name {
            font-family: var(--second-font);
        }
    }

    &:hover {
        transform: scale(1.05);
        padding: 5px;
        border-radius: 20px;
        border: 1px solid var(--text-color); 
    }
}