.header {        
    padding: 34px 0;
    font-family: var(--second-font);
    .header__inner {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        .logo {
            display: block;
            margin-right: auto;
        }
        .menu {
            .menu__list {
                display: flex;
                align-items: center;
                gap: 50px;
                .menu__list-item {
                    font-weight: 600;
                }
            }
        }


        .user-btn {
            width: 152px;
            padding: 19px 30px;
            margin-left: 30px;
            p::before {
                padding-left: 32px;
                left: 0;
                background-image: url('./images/user.svg');
            }
        }
    }

}
