.header {        
    padding: 34px 0;
    font-family: var(--second-font);
    &__inner {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        .logo {
            display: block;
            margin-right: auto;
        }
        .menu {
            &__list {
                display: flex;
                align-items: center;
                gap: 50px;
                .menu__list-item {
                    font-weight: 600;
                }
            }
        }


        .user-btn {
            width: 152px;
            padding: 19px 30px;
            margin-left: 30px;
            p::before {
                padding-left: 32px;
                left: 0;
                background-image: url('./images/user.svg');
            }
        }
    }

}

@media (max-width: 950px) {
    .header {
        position: relative;
        &__inner {
            .menu {
                position: absolute;
                top: 0;
                width: 100%;
                left: 0;
                right: 0;
                transform: translateY(-200%);
                transition: all 0.3s;
                &__list {
                    padding: 54px 0;
                    flex-direction: column;
                    background-color: var(--background--secondary);
                }

                &.active {
                    transform: translateY(0);
                }
            }

            .menu-btn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 24px;
                height: 24px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 3px;
                span {
                    width: 13px;
                    background-color: #fff;
                    height: 1.5px;
                    &.long-line {
                        width: 18px;
                    }
                }

            }

            .user-btn {
                display: none;
            }
        }
    }
}
