//fonts
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


//modules
@import './base/reset';
@import './base/vars';


body {
    background-color: var(--background-color);
    font-family: var(--main-font);
    color: var(--text-color);
    font-size: 16px;
    line-height: 140%;
    font-style: normal;
    font-weight: 400;
}

button {
    transition: all 0.3s;
    &:hover {
        transform: scale(1.05);
    }
}

.container {
    max-width: 1070px;
    padding: 0 10px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}


.section__title {
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
    font-family: var(--second-font);
}

.purple-btn {
    background-color: var(--purple-color);
    font-weight: 600;
    font-family: var(--second-family);
    color: var(--text-color);
    position: relative;
    border-radius: 20px;
    p::before {
        position: absolute;
        content: '';
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 20px;
        background-position: center;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.item__title {
    font-family: var(--second-font);
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    text-transform: capitalize;
}

