//fonts
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


//modules
@import './base/reset';
@import './base/vars';


body {
    background-color: var(--background-color);
    font-family: var(--main-font);
    color: var(--text-color);
    font-size: 16px;
    line-height: 140%;
    font-style: normal;
    font-weight: 400;
}

button {
    transition: all 0.3s;
    &:hover {
        transform: scale(1.05);
    }
}

.container {
    max-width: 1070px;
    padding: 0 10px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.descr__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: var(--gray-color);
    margin-bottom: 10px;
}

.page__header {
    padding: 80px 0;
    p {
        font-family: var(--second-font);
        font-size: 22px;
        line-height: 160%;
    }
}

.tab__buttons {
    display: flex;
}

.tab-btn {
    font-family: var(--second-font);
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    text-transform: capitalize;
    text-align: center;
    color: var(--gray-color);
    width: 100%;
    border-bottom: 2px solid transparent;
    padding: 12px 0;
    cursor: pointer;
    &:hover {
        color: var(--text-color);
        border-bottom: 1px solid var(--gray-color);
    }
    &.active {
        color: var(--text-color);
        border-bottom: 1px solid var(--gray-color);
    }
}

.page__title {
    font-family: var(--second-font);
    font-weight: 600;
    font-size: 51px;
    line-height: 110%;
    text-transform: capitalize;
}

.section__title {
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
    font-family: var(--second-font);
}

.purple-btn {
    background-color: var(--purple-color);
    font-weight: 600;
    font-family: var(--second-family);
    color: var(--text-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.section-link {
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        border: 2px solid var(--purple-color);
        padding: 19px 0;
        text-align: center;
        transition: all 0.3s;
        &:hover {
            color: var(--text-color);
            background-color: var(--purple-color);
        }
    }
    p {
        position: relative;
        padding-left: 30px;
        &::before {
            position: absolute;
            content: '';
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
            background-position: center;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}


.item__title {
    font-family: var(--second-font);
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    text-transform: capitalize;
}

@media (max-width: 850px) {
    .page__title {
        font-size: 38px;
        line-height: 120%;
    }

    .tab-btn {
        font-size: 16px;
    }

    .descr__title {
        font-size: 16px;
        line-height: 140%;
    }
}

@media (max-width: 670px) {
    .purple-btn {
        &.section-link {
            margin-top: 30px;
            width: 100%;
            position: static;
        }
    }
}

@media (max-width: 450px) {
    .page__title {
        font-size: 28px;
        line-height: 140%;
    }
}

