.category-item {
    display: block;
    border-radius: 20px;
    &__media {
        position: relative;
        &-overlay {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            backdrop-filter: blur(15px);
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    &__title {
        background-color: var(--background--secondary);
        padding: 20px 30px 25px 30px;

    }
}