.artist-page {
    padding-top: 250px;
    background-image: url('./bg.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size:20%;
}

.artist-info {
    .artist-info__title {
    }
    .artist-info__buttons {
    }
    .artist-info__btn {
    }
    .artist-info__numbers {
    }
    .artist-info__numbers-item {
    }
    .artist-info__numbers-main {
    }
    .artist-info__numbers-descr {
    }
    .artist-info__bio {
    }
    .artist-info__bio-title {
    }
    .artist-info__bio-text {
    }
    .artist-info__links {
    }
    .artist-info__links-item {
    }
    .artist-info__links-img {
    }
}

.artist-products {
}
.artist-products__buttons {
}
.artist-products__btn {
}
.artist-products__info {
}