.footer {
    padding: 40px 0;
    background-color: var(--background--secondary);
    border-top: 2px solid var(--background-color);
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        border-bottom: 1px solid var(--gray-color);
        .footer-info {
            .logo__img {
                margin-bottom: 30px;
            }
            .footer-info__text {
                margin-bottom: 20px;
                font-family: var(--second-font);
                color: #ccc;
                max-width: 240px;
            }
            .social {
                .social-text {
                    font-family: var(--second-font);
                    color: #ccc;
                    margin-bottom: 15px;
                }
                .social-list {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    &__item {
                        &-img {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
                
                
            
        }
        }
        
        .footer-menu {
            .footer__title {
                margin-bottom: 28px;
                font-weight: 700;
                font-size: 22px;
                line-height: 160%;
                text-transform: capitalize;
            }
            .footer-menu__list {
            }
            .footer-menu__list-item {
                margin-bottom: 20px;
                font-family: var(--second-font);
                color: #ccc;
            }
        }

        .digest__info {
            max-width: 420px;
            &-title {
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 22px;
                line-height: 160%;
                text-transform: capitalize;
                margin-bottom: 25px;
            }
            &-text {
                color: #ccc;
                margin-bottom: 20px;
            }
            
        }
    }
    
    
    .footer__bottom {
        padding-top: 20px;
        &-text {
            font-family: var(--second-font);
            font-size: 12px;
            line-height: 110%;
            color: #ccc;
        }
    }
    
}

@media (max-width: 1000px) {
    .footer {
        &__inner {
            flex-direction: column;
            gap: 30px;
        }
    }
}
