.auction-timer {
    border-radius: 20px;
    width: 295px;
    padding: 30px;
    backdrop-filter: blur(10px);
    background-color: rgba(59, 59, 59, 0.5);
    &__text {
        font-size: 12px;
        line-height: 110%;
        margin-bottom: 10px;
    }
    &__items {
        display: flex;
        .auction-timer__item {
            position: relative;
            padding-right: 30px;
            &::after {
                position: absolute;
                content: ':';
                right: 0;
                top: 0;
                transform: translateY(-50%);
                font-weight: 700;
                font-size: 38px;
                line-height: 120%;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }

            &-num {
                font-weight: 700;
                font-size: 38px;
                line-height: 120%;
                margin-bottom: 5px;
            }
            &-text {
                font-size: 12px;
                line-height: 110%;
            }
        }
    }
}